$componentBgColor: #283c50;         // all components background color
$componentBgColor: #384452;         // all components background color
//$componentBgColor: rgba(33,33,33,0.25);         // all components background color
$focusItemBackground: #1D54AE;      // focus elements background
$focusItemBackground: #2c60c6;      // focus elements background
//$focusItemBackground: rgba(29, 84, 174, 0.85);      // focus elements background
$focusItemColor: #fff;              // focus elements text color
$focusItemIconColor: #fff;          // focus element icon color

$overlayOpacity: 0.2;
$panelOpacity: 0.6;
$mainPanelOpacity: 0.97;



.osdPanel {
    background-color: $componentBgColor;
    color: #fff;
}
.osdFocusItem {
    background-color: $focusItemBackground;
}

// chocolate theme
/*$componentBgColor: #3e2723;
$focusItemBackground: #e7b900;
$focusItemColor: #3e2723;
$focusItemIconColor: #3e2723;
.theme-favorite-icon {
    color: transparent;
}
.theme-favorite-icon-active {
    color: #ffffff;
}*/
