.cut_off{
    position:absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 1280px;
    height: 720px;
    background-image: url("i_720/bg2.png");
}

.cut_off_text{
    text-align: center;
    vertical-align: middle;
    height: 720px;
    width: 1280px;
    display: table-cell;
    font: 45px trebuchet ms, Arial, Helvetica, sans-serif;
    color: #fff;
}