/* LAYER */
.layer_bg{
    position:absolute;
    left: 0;
    top: 0;
    width: 720px;
    height: 576px;
    background-image: url("i/bg2.png");
}

.hd_block{
    width: 24px;
    height: 21px;
    background-image: url("i/mb_icons.png");
    background-position: 0px 0px;
    float: left;
    margin: 4px 0 0 4px;
}

.sd_block{
    width: 24px;
    height: 21px;
    background-image: url("i/mb_icons.png");
    background-position: -24px 0px;
    float: left;
    margin: 4px 0 0 4px;
}

.fav_block{
    width: 23px;
    height: 22px;
    background-image: url("i/mb_icons.png");
    background-position: -50px 0px;
    float: left;
    margin: 3px 0 0 4px;
}

.lock_block{
    width: 19px;
    height: 22px;
    background-image: url("i/mb_icons.png");
    background-position: -73px 0px;
    float: left;
    margin-top: 3px;
}

.name_block{
    color: #fff;
    font-size: 20px;
    text-shadow: #122946 0 -1px 0;
    margin-top: 3px;
    margin-right: 5px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wide_container{
    
}

.short_container{
    
}

.wide_container .blue_row_bg{
    position: absolute;
    left: 49px;
    top: 72px;
    width: 622px;
    height: 30px;
    background-image: url("i/mb_table.png");
}

.short_container .blue_row_bg{
    position: absolute;
    left: 49px;
    top: 72px;
    width: 283px;
    height: 30px;
    background-image: url("i/mb_table.png");
    background-position: 0 -120px;
}

.wide_container .active_row_bg{
    position: absolute;
    width: 650px;
    height: 54px;
    left: 36px;
    background: url("i/mb_table_act.png") left top no-repeat;
    padding: 5px 0 0 13px;
}

.short_container .active_row_bg{
    position: absolute;
    width: 310px;
    height: 54px;
    left: 36px;
    background: url("i/mb_table_act.png");
    background-position: 0 -118px;
    padding: 5px 0 0 13px;
}

.active_hd_block{
    width: 24px;
    height: 31px;
    background-image: url("i/mb_icons.png");
    background-position: 0px -21px;
    margin: 6px 2px 0 0;
    float:left;
}

.active_sd_block{
    width: 24px;
    height: 31px;
    background-image: url("i/mb_icons.png");
    background-position: -24px -21px;
    margin: 6px 2px 0 0;
    float:left;
}

.active_fav_block{
    width: 27px;
    height: 31px;
    background-image: url("i/mb_icons.png");
    background-position: -48px -21px;
    margin-top:6px;
    float:left;
}

.active_lock_block{
    width: 16px;
    height: 30px;
    background-image: url("i/mb_icons.png");
    background-position: -75px -22px;
    margin-top: 6px;
    float:left;
}

.active_name_block{
    font-size: 22px;
    color: #002864;
    text-shadow: #fff 0 1px 0;
    margin-top:8px;
    margin-right: 25px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}


.footer_text{
    font-size: 15px;
    color: #001a33;
    text-shadow: #fff 0 1px 0;
    float: left;
    margin: 13px 0 0 8px;
    font-weight: bold;
}

.footer_btn{
    background: url("i/footer_btn.png") right no-repeat;
    width: 24px;
    height: 24px;
    float:left;
    margin: 11px 0 0 7px;
}

.btn_red{
    background-position: 0px 0px;
}

.btn_green{
    background-position: -24px 0px;
}

.btn_yellow{
    background-position: -48px 0px;
}

.btn_blue{
    background-position: -72px 0px;
}

.mb_header_first{
    position: absolute;
    left: 190px;
    top:37px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mb_header_info{
    position: absolute;
    left: 50px;
    top: 493px;
}

.color_button_bar{
    position: absolute;
    width: 690px;
    height: 40px;
    background-image: url("i/footer_bg.png");
    top: 515px;
    padding-left: 30px;
}
/* END LAYER */