/**
 * Empty.
 */

.color_button_bar .separator{
    background: url(i_720/footer_bg2.png);
    height: 46px;
    width: 14px;
    margin: 0;
}

.screensaver{
    position: absolute;
    left: 0;
    top: 0;
    height: 720px;
    width: 1280px;
    z-index: 1001;
    background-color: #000;
}

.screensaver .screensaver_clock{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 100px;
    color: #fff;
    font-size: 36px;
    /*-webkit-transition: opacity 1s linear;*/
}
