/* VCLUB */
.ears_back{
    position: absolute;
    width: 40px;
    height: 420px;
    left: 0px;
    top: 73px;
    background-image: url("i/ears.png");
    background-position: 0px 0px;
}

.ears_movie{
    position: absolute;
    width: 40px;
    height: 420px;
    left: 680px;
    top: 73px;
    background-image: url("i/ears.png");
    background-position: -40px 0px;
}

.vclub_info_box{
    position: absolute;
    width: 242px;
    height: 100px;
    top: 64px;
    left: 419px;
    padding: 5px;
    line-height: 20px;
    color: #fff;
    font-size:18px;
}

.vclub_info_box span{
    color: #cfeafe;
    font-size: 18px;
}

.vclub_screenshot_box{
    position: absolute;
    background: url("i/mb_prev_bg.png");
    height: 322px;
    width: 242px;
    top: 173px;
    left: 419px;
    padding: 5px;
}

.today_block{
    position: absolute;
    right: 2px;
    top: 0; 
    
    width: 139px;
    height: 25px;
    background-image: url("i/mb_table.png");
    background-position: 147px -30px;
    padding: 3px 0 0 6px;
    color: #122f59;
    /*float: right;
    margin: 0px 0 0 4px;*/
}

.yesterday_block{
    position: absolute;
    right: 2px;
    top: 0;

    width: 139px;
    height: 25px;
    background-image: url("i/mb_table.png");
    background-position: 147px -60px;
    padding: 3px 0 0 6px;
    color: #fff;
    /*float: right;
    margin: 0px 0 0 4px;*/
}

.week_and_more_block{
    position: absolute;
    right: 2px;
    top: 0;

    width: 139px;
    height: 25px;
    background-image: url("i/mb_table.png");
    background-position: 147px -90px;
    padding: 3px 0 0 6px;
    color: #fff;
    /*float: right;
    margin: 0px 0 0 4px;*/
}

.active_today_block, .active_yesterday_block, .active_week_and_more_block{
    position: absolute;
    right: 23px;
    top: 4px;

    width: 148px;
    height: 32px;
    background-image: url("i/mb_table_act.png");
    background-position: 163px -63px;
    padding: 11px 0 0 6px;
    color: #000;
}

.disabled_all_buttons .footer_text{
    color: #606060;
}
/* END VCLUB */