/* VCLUB */
.ears_back{
    position: absolute;
    width: 40px;
    height: 420px;
    left: 0px;
    top: 73px;
    background-image: url("i/ears.png");
    background-position: 0px 0px;
}

.ears_movie{
    position: absolute;
    width: 40px;
    height: 420px;
    left: 680px;
    top: 73px;
    background-image: url("i/ears.png");
    background-position: -40px 0px;
}

.vclub_info_box{
    position: absolute;
    display: none;
    background: url("i/mb_prev_bg.png");
    height: 256px;
    width: 320px;
    top: 69px;
    left:345px;
    padding:5px;
}
/* END VCLUB */