.curweather_block{
    position: absolute;
    right: 70px;
    top : 135px;
    width: 293px;
    color: #fff;
    text-shadow: #000 0 -1px 0;
    font-size: 24px;
    background-image: url("i_720/25alfa_20.png");
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.curweather_block .city{
    position: absolute;
    top: 4px;
    right: 4px;
    font-family: "Myriad Pro Cond", sans-serif;
    color: #99a8b5;
}

.curweather_block .curweather_img{
    position: absolute;
    top : 5px;
    left: 5px;
}

.curweather_block .curweather_descr{
    margin: 85px 0 0 0;
    padding: 0 0 8px 8px;
}


.curweather_block .curweather_title{
    font-family: "Myriad Pro Cond", sans-serif;
    color: #99a8b5;
}