<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ rest.php?q=$1 [L,QSA]
</IfModule>

<Files ~ "(ini|sh|dumpstream)$">
	Order Allow,Deny
	Deny from All
</Files>