$imgPath: './img/480';

$panelTitleSize: 20px;
$panelFontSize: 17px;
$mainPanelFontSize: 20px;
$mainPanelTitleSize: 24px;
$infoTextFontSize: 22px;
$iconsSize: 20px;
$panelIconSize: 22px;
$fWidth: 25px;
$fHeight: 15px;