$imgPath: './img/576';

$panelTitleSize: 16px;
$panelFontSize: 16px;
$mainPanelFontSize: 18px;
$mainPanelTitleSize: 22px;
$infoTextFontSize: 17px;
$iconsSize: 20px;
$panelIconSize: 22px;
$fWidth: 25px;
$fHeight: 15px;