html,
body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 33px;
  -webkit-user-select: none;
}
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
.maxh {
  height: 100%;
}
.maxw {
  width: 100%;
}
a {
  text-decoration: none;
}
.component.hidden {
  display: none !important;
}
.component div {
  -webkit-box-sizing: border-box;
}
.component.button {
  display: inline-table;
  height: 69px;
  cursor: pointer;
}
.component.button .icon {
  height: 69px;
  width: 69px;
  display: table-cell;
  background: no-repeat center center;
}
.component.button .text {
  display: table-cell;
  padding: 9px 18px;
  vertical-align: middle;
  text-align: center;
}
.component.button .text:empty {
  padding: 0;
}
.component.checkBox {
  cursor: pointer;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  vertical-align: bottom;
}
.component.grid table {
  width: 100%;
  table-layout: fixed;
}
.component.grid table td.item {
  cursor: pointer;
  padding: 6px 12px;
  vertical-align: middle;
  text-align: center;
}
.component.grid table td.item.focus {
  color: black;
}
.component.grid table td.item.focus.mark {
  color: white;
}
.component.grid table td.item.disable {
  color: grey;
}
.component.input {
  width: 375px;
  height: 72px;
  font-size: 36px;
  color: #000;
  display: table;
  table-layout: fixed;
}
.component.input .line {
  cursor: text;
  display: table-cell;
  vertical-align: middle;
  padding: 0 6px;
  overflow: hidden;
  white-space: nowrap;
}
.component.input .line > .char,
.component.input .line > .placeholder,
.component.input .line > .caret {
  display: inline-block;
  vertical-align: middle;
}
.component.input .line > .caret {
  height: 80%;
  width: 2px;
  margin-left: -2px;
}
.component.input .line > .placeholder {
  color: #999;
}
.component.input.focus .line > .caret {
  background-color: #000000;
  -webkit-animation: inputCursor 1s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes inputCursor {
  from {
    background-color: #000000;
  }
  to {
    background-color: transparent;
  }
}
.component.list {
  width: 100%;
}
.component.list .item {
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  height: 72px;
  line-height: 72px;
}
.component.list .item.mark {
  color: black;
}
.component.list.horizontal {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.component.list.horizontal .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.component.modalBox {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  display: table;
}
.component.modalBox > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.component.modalBox > div > div.body {
  display: inline-block;
  overflow: hidden;
  background-color: #333;
  padding: 3%;
  max-width: 80%;
  max-height: 80%;
}
.component.modalMessage {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  display: table;
  z-index: 10;
}
.component.modalMessage.active > div.alignBox > div > div.overlay {
  display: none;
}
.component.modalMessage > div.alignBox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.component.modalMessage > div.alignBox > div {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 80%;
  min-width: 405px;
  max-height: 80%;
}
.component.modalMessage > div.alignBox > div > div.header {
  height: 102px;
  line-height: 102px;
  font-size: 36px;
  padding: 0 30px;
}
.component.modalMessage > div.alignBox > div > div.header .icon {
  height: 69px;
  width: 69px;
  display: table-cell;
  background: no-repeat center center;
}
.component.modalMessage > div.alignBox > div > div.header .text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.component.modalMessage > div.alignBox > div > div.header .text:empty {
  padding: 0;
}
.component.modalMessage > div.alignBox > div > div.body > .component.list .item {
  height: 84px;
  line-height: 84px;
  padding: 0 30px;
}
.component.modalMessage > div.alignBox > div > div.body > .component.list .item .component.checkBox,
.component.modalMessage > div.alignBox > div > div.body > .component.list .item .component.layout > div.icon {
  margin-left: -30px;
  width: 84px;
  height: 84px;
  line-height: 84px;
  text-align: center;
}
.component.modalMessage > div.alignBox > div > div.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.component.page {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  overflow: hidden;
}
.component.page.active {
  visibility: inherit;
}
.component.panel {
  padding: 15px 15px;
}
.component.progressBar {
  height: 36px;
}
.component.progressBar .value {
  height: 100%;
}
.component.scrollBar {
  display: inline-block;
  height: 100%;
  width: 3px;
  vertical-align: bottom;
}
.component.scrollBar .thumb {
  display: block;
  width: 3px;
  min-height: 3px;
}
.component.scrollBar .thumb.hidden {
  display: none;
}
.component.scrollBar.horizontal {
  display: block;
  height: 12px;
  width: 100%;
}
.component.scrollBar.horizontal .thumb {
  display: inline-block;
  vertical-align: top;
  height: 12px;
  min-width: 12px;
}
.component.widget {
  position: absolute;
}
.component.widget.hidden {
  visibility: hidden;
}
.component.tabItem {
  position: absolute;
  visibility: inherit;
  width: inherit;
  height: inherit;
}
.component.tabItem.hidden {
  visibility: hidden;
}
.component.tabList {
  position: relative;
}
.component.layerItem {
  position: absolute;
  width: inherit;
  height: inherit;
  display: block;
  visibility: inherit;
}
.component.layerItem.hidden {
  display: block;
  visibility: hidden;
}
.component.layerList {
  position: relative;
}
.component.layout {
  display: table;
  width: 100%;
}
.component.layout > div {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  height: 100%;
}
.component.list.checkList > .item .checkBoxWrapper > .component.checkBox {
  display: block;
}
.component.list.checkList > .item .checkBoxWrapper > .component.checkBox:after {
  font-family: 'icons';
  display: block;
  content: 'Y';
}
.component.list.checkList > .item .checkBoxWrapper > .component.checkBox.checked:after {
  content: 'Z';
}
.component.list.radioList > .item .checkBoxWrapper > .component.checkBox {
  display: block;
}
.component.list.radioList > .item .checkBoxWrapper > .component.checkBox:after {
  font-family: 'icons';
  display: block;
  content: 'W';
}
.component.list.radioList > .item .checkBoxWrapper > .component.checkBox.checked:after {
  content: 'X';
}
.component.scrollArea {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.component.scrollArea > .body {
  position: absolute;
}
.component.valueList {
  border: 3px solid grey;
  text-align: center;
}
.component.valueList.focus {
  border-color: orange;
}
.component.panelSet {
  width: 100%;
  height: 100%;
}
.component.panelSet.hidden {
  display: block!important;
  visibility: hidden;
}
.component.panelEx {
  width: 540px;
  height: 672px;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  position: absolute;
  z-index: 0;
}
.component.panelEx > .body {
  overflow: hidden;
}
.component.panelEx > .title {
  height: 84px;
  line-height: 84px;
  position: relative;
  padding-left: 30px;
  text-transform: uppercase;
  background-repeat: repeat-x;
  overflow: hidden;
  text-overflow: ellipsis;
}
.component.panelEx .list .item {
  height: 84px;
  line-height: 84px;
  font-size: 29.7px;
}
.component.panelEx .list .item .icon {
  font-size: 57.75px;
}
.component.panelEx.main {
  width: 720px;
  top: 99px;
  left: 600px;
  height: 816px;
  z-index: 2;
}
.component.panelEx.main .list .item {
  height: 102px;
  line-height: 102px;
  font-size: 33px;
}
.component.panelEx.main .list .item .icon {
  font-size: 41.25px;
}
.component.panelEx.main > .title {
  height: 102px;
  line-height: 102px;
  font-size: 36px;
}
.component.panelEx.main.size2 {
  width: 1170px;
}
.component.panelEx.main.size3 {
  width: 1170px;
}
.component.panelEx.left {
  top: 201px;
  left: 60px;
}
.component.panelEx.right {
  top: 201px;
  right: 60px;
}
.component.panelEx > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.component.panelEx .component.scrollBar {
  display: none;
}
.component.panelEx.active > .overlay {
  visibility: hidden;
}
.component.panelEx.active .component.scrollBar {
  display: block;
}
.component.panelEx.top {
  z-index: 3;
}
.component.panelEx > .shadow {
  width: 20px;
  position: absolute;
  top: 0;
  z-index: -1;
  display: none;
}
.component.panelEx > .shadow.left {
  left: -20px;
}
.component.panelEx > .shadow.right {
  right: -20px;
}
.component.panelEx.leftShadow > .shadow.left {
  display: block;
}
.component.panelEx.rightShadow > .shadow.right {
  display: block;
}
.component.panelEx.active > .shadow {
  z-index: 1;
}
.component.list.layoutList {
  position: relative;
}
.component.list.layoutList > .body > .item > .layout > .icon {
  width: 84px;
  font-family: 'icons';
  text-align: center;
}
.component.list.layoutList > .body > .item > .layout > .icon.yellow {
  color: #FEC500;
}
.component.list.layoutList > .body > .item > .layout > .icon.red {
  color: #FF0000;
}
.component.list.layoutList > .body > .item > .layout > .icon.green {
  color: #04E900;
}
.component.list.layoutList > .body > .item > .layout > .icon.blue {
  color: #1CACFF;
}
.component.list.layoutList > .body > .item > .layout > .number {
  width: 84px;
}
.component.list.layoutList .noData {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.component.list.layoutList .noData:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.component.list.layoutList .noData > div {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.component.list.layoutList .noData.hidden {
  visibility: hidden;
}
.component.footer {
  width: 1740px;
  height: 54px;
  line-height: 54px;
  position: absolute;
  left: 90px;
  bottom: 57px;
  display: table;
  z-index: 10;
}
.component.footer > table {
  vertical-align: middle;
  text-align: center;
}
.component.footer > table > tr > td {
  width: 54px;
}
.component.footer > table > tr > td.central {
  width: 1632px;
}
.component.footer > table > tr > td.central > .wrapper {
  height: 54px;
  visibility: inherit;
}
.component.footer > table > tr > td.central > .wrapper.hidden {
  display: none;
}
.component.footer > table > tr > td.central > .wrapper > .button {
  display: inline-block;
  height: 54px;
  padding: 0 30px 0 22.5px;
}
.component.footer > table > tr > td.central > .wrapper > .button.hidden {
  display: none;
}
.component.footer > table > tr > td.central > .wrapper > .button .title {
  padding-left: 15px;
}
.component.footer > table > tr > td.central > .wrapper > .button .f1,
.component.footer > table > tr > td.central > .wrapper > .button .f2,
.component.footer > table > tr > td.central > .wrapper > .button .f3,
.component.footer > table > tr > td.central > .wrapper > .button .f4 {
  width: 54px;
  float: left;
}
.component.footer > table > tr > td .icon {
  display: block;
  text-align: left;
  background: no-repeat center center;
}
.component.footer > table > tr > td .icon.info {
  text-align: right;
}
.component.footer > table > tr > td .iconImg {
  height: 54px;
  line-height: 54px;
  width: 54px;
  text-align: center;
}
.component.footer > table > tr > td .title {
  display: block;
  float: right;
}
.component.clock {
  color: #fff;
  height: 98px;
  line-height: 110px;
  padding-right: 30px;
  position: absolute;
  right: 60px;
  text-align: right;
  top: 99px;
  width: 536px;
  z-index: 100;
}
@font-face {
  font-family: "File manager";
  src: url('../font/file_manager.ttf');
}
.iconFileManager {
  font-family: "File manager" !important;
}
.favoritesStar {
  text-align: right !important;
}
.panelEx.right .item {
  color: #FEC500;
  padding-left: 30px;
}
.persistentMainEntries {
  text-transform: capitalize;
}
.authorizeBtn,
.cancelBtn,
.createBtn {
  text-transform: capitalize;
}
.placeholder {
  text-transform: capitalize;
}
.denseRightDisplay .component.layout,
.denseRightDisplay .component.layout > div {
  display: block;
}
.denseRightDisplay .item div div:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}
.denseRightDisplay .item div:nth-child(even) {
  color: #fff;
}
.panelSet .component.list.layoutList > .body > .item > .layout > .icon {
  min-width: 84px;
}
.panelEx.main .item {
  overflow: hidden !important;
  width: 720px !important;
  padding-right: 30px !important;
}
.listDirNameField {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 510px !important;
  max-width: 510px !important;
  overflow: hidden;
}
.networkView .listDirNameField {
  width: 540px !important;
  max-width: 540px !important;
}
.panelEx.right .item {
  padding-top: 15px;
  overflow: hidden !important;
  width: 540px !important;
  padding-right: 30px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panelEx.main .item {
  white-space: nowrap;
}
.infoStorageDiagram {
  border: 12px solid #303030;
  left: 50%;
  margin-left: -151.35135135px;
  position: absolute;
  top: 255px;
  width: 302.7027027px !important;
  height: 302.7027027px !important;
  text-align: center;
  -webkit-border-radius: 672px;
}
.infoStorageDiagram div {
  background: #303030;
  color: #FEC500;
  height: 90px;
  left: 94.35135135px;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: 94.35135135px;
  -webkit-border-radius: 45px;
  width: 90px;
}
.hidden {
  display: none;
}
.scrollBar {
  height: 714px !important;
  position: absolute;
  right: 7.5px;
  top: 102px;
}
.cntIndicators {
  height: 30px;
  line-height: 30px !important;
  padding-left: 30px;
  position: absolute;
  top: 210px;
  width: 100%;
}
.allocSpaceElem,
.freeSpaceElem {
  display: inline-block;
  height: 30px;
  margin-right: 15px;
  width: 30px;
}
.allocSpaceElem {
  border: 1px solid #303030;
}
.freeSpaceElem {
  margin-left: 60px;
  border: 1px solid #303030;
}
.cancelBtn,
.createBtn {
  width: 50%;
}
.authorizeBtn {
  width: 100%;
}
.inactiveBtn {
  background: initial !important;
}
.component.modalMessage .input {
  padding-left: 30px;
  text-align: left;
}
.input {
  color: inherit !important;
}
.component.scrollArea {
  height: 588px;
}
.component.scrollArea > .body > div {
  font-size: 29.7px;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0 30px;
}
.component.scrollArea > .body > div.title {
  color: gold;
  padding: 30px 30px 0 30px;
}
.component.scrollArea > .body > div:last-child {
  padding-bottom: 30px;
}
html {
  overflow: auto;
}
div.develop canvas {
  cursor: none;
  visibility: hidden;
  position: absolute;
  width: 1920px;
  height: 1080px;
}
div.develop canvas.active {
  visibility: visible;
  z-index: 1000;
}
body.develop {
  outline: 1px dashed #005000;
  outline-offset: -1px;
}
body.develop .component {
  outline: 1px dashed #005000;
  outline-offset: -1px;
}
body.develop .component.focus {
  outline: 1px dashed red;
}
body.develop .component.wired {
  outline-width: 3px;
  outline-style: dotted;
}
body.develop .component.wired div,
body.develop .component.wired td {
  outline: 1px dashed grey;
  outline-offset: -1px;
}
body.develop .component.button {
  outline: none;
}
body.develop .component.button .text,
body.develop .component.button .icon {
  outline: 1px dashed #005000;
  outline-offset: -1px;
}
body.develop .component.button.focus .text,
body.develop .component.button.focus .icon {
  outline: 1px dashed red;
}
body.develop .component.list > .item {
  outline: 1px dashed #000000;
  outline-offset: -1px;
}
body.develop .component.list > .item.focus {
  outline: 1px dashed orange;
  outline-offset: -1px;
}
body.develop .component.grid td.item {
  outline: 1px dashed #000000;
  outline-offset: -1px;
}
body.develop .component.grid td.item.focus {
  outline: 1px dashed orange;
  outline-offset: -1px;
}
body.develop .component.input > .body {
  outline: 1px dashed #000;
}
body.develop .component.focus.input > .body {
  outline: 1px dashed red;
}

/*# sourceMappingURL=develop.1080.css.map */
