html,
body {
  height: 50px;
  width: 200px;
  overflow: hidden;
  background: transparent;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 33px;
  -webkit-user-select: none;
}
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
.maxh {
  height: 100%;
}
.maxw {
  width: 100%;
}
a {
  text-decoration: none;
}
.component.hidden {
  display: none !important;
}
.component div {
  -webkit-box-sizing: border-box;
}
.component.button {
  display: inline-table;
  height: 69px;
  cursor: pointer;
}
.component.button .icon {
  height: 69px;
  width: 69px;
  display: table-cell;
  background: no-repeat center center;
}
.component.button .text {
  display: table-cell;
  padding: 9px 18px;
  vertical-align: middle;
  text-align: center;
}
.component.button .text:empty {
  padding: 0;
}
.component.checkBox {
  cursor: pointer;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  vertical-align: bottom;
}
.component.grid table {
  width: 100%;
  table-layout: fixed;
}
.component.grid table td.item {
  cursor: pointer;
  padding: 6px 12px;
  vertical-align: middle;
  text-align: center;
}
.component.grid table td.item.focus {
  color: black;
}
.component.grid table td.item.focus.mark {
  color: white;
}
.component.grid table td.item.disable {
  color: grey;
}
.component.input {
  width: 375px;
  height: 72px;
  font-size: 36px;
  color: #000;
  display: table;
  table-layout: fixed;
}
.component.input .line {
  cursor: text;
  display: table-cell;
  vertical-align: middle;
  padding: 0 6px;
  overflow: hidden;
  white-space: nowrap;
}
.component.input .line > .char,
.component.input .line > .placeholder,
.component.input .line > .caret {
  display: inline-block;
  vertical-align: middle;
}
.component.input .line > .caret {
  height: 80%;
  width: 2px;
  margin-left: -2px;
}
.component.input .line > .placeholder {
  color: #999;
}
.component.input.focus .line > .caret {
  background-color: #000000;
  -webkit-animation: inputCursor 1s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes inputCursor {
  from {
    background-color: #000000;
  }
  to {
    background-color: transparent;
  }
}
.component.list {
  width: 100%;
}
.component.list .item {
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  height: 72px;
  line-height: 72px;
}
.component.list .item.mark {
  color: black;
}
.component.list.horizontal {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.component.list.horizontal .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.component.modalBox {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  display: table;
}
.component.modalBox > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.component.modalBox > div > div.body {
  display: inline-block;
  overflow: hidden;
  background-color: #333;
  padding: 3%;
  max-width: 80%;
  max-height: 80%;
}
.component.modalMessage {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  display: table;
  z-index: 10;
}
.component.modalMessage.active > div > div > div.overlay {
  display: none;
}
.component.modalMessage > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.component.modalMessage > div > div {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 80%;
  min-width: 399.375px;
  max-height: 80%;
}
.component.modalMessage > div > div > div.header {
  height: 105px;
  line-height: 105px;
  font-size: 36px;
  padding: 0 30px;
}
.component.modalMessage > div > div > div.header .icon {
  height: 69px;
  width: 69px;
  display: table-cell;
  background: no-repeat center center;
}
.component.modalMessage > div > div > div.header .text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.component.modalMessage > div > div > div.header .text:empty {
  padding: 0;
}
.component.modalMessage > div > div > div.body > .component.list .item {
  height: 90px;
  line-height: 90px;
  text-align: left;
  padding: 0 30px;
}
.component.modalMessage > div > div > div.body > .component.list .item .component.checkBox,
.component.modalMessage > div > div > div.body > .component.list .item .component.layout > div.icon {
  height: 90px;
  line-height: 90px;
  width: 60px;
}
.component.modalMessage > div > div > div.body > .component.list .item .component.checkBox {
  width: 45px;
}
.component.modalMessage > div > div > div.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.component.page {
  /*width:      unit(@width, px);
    height:     unit(@height, px);*/
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  overflow: hidden;
}
.component.page.active {
  visibility: inherit;
}
.component.panel {
  padding: 15px 15px;
}
.component.progressBar {
  height: 36px;
}
.component.progressBar .value {
  height: 100%;
}
.component.scrollBar {
  display: inline-block;
  height: 100%;
  width: 3px;
  vertical-align: bottom;
}
.component.scrollBar .thumb {
  display: block;
  width: 3px;
  min-height: 3px;
}
.component.scrollBar .thumb.hidden {
  display: none;
}
.component.scrollBar.horizontal {
  display: block;
  height: 12px;
  width: 100%;
}
.component.scrollBar.horizontal .thumb {
  display: inline-block;
  vertical-align: top;
  height: 12px;
  min-width: 12px;
}
.component.widget {
  position: absolute;
}
.component.widget.hidden {
  visibility: hidden;
}
.component.tabItem {
  position: absolute;
  visibility: inherit;
  width: inherit;
  height: inherit;
}
.component.tabItem.hidden {
  visibility: hidden;
}
.component.tabList {
  position: relative;
}
.component.layerItem {
  position: absolute;
  width: inherit;
  height: inherit;
  display: block;
  visibility: inherit;
}
.component.layerItem.hidden {
  display: block;
  visibility: hidden;
}
.component.layerList {
  position: relative;
}
.component.layout {
  display: table;
  width: 100%;
}
.component.layout > div {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  height: 100%;
}
.component.list.checkList > .item .checkBoxWrapper > .component.checkBox {
  display: block;
}
.component.list.radioList > .item .checkBoxWrapper > .component.checkBox {
  display: block;
}
.component.list.radioList > .item .checkBoxWrapper > .component.checkBox:after {
  font-family: 'icons';
  display: block;
  content: 'W';
}
.component.list.radioList > .item .checkBoxWrapper > .component.checkBox.checked:after {
  content: 'X';
}
.component.scrollArea {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.component.scrollArea > .body {
  position: absolute;
}
.component.valueList {
  border: 3px solid grey;
  text-align: center;
}
.component.valueList.focus {
  border-color: orange;
}
.component.panelSet {
  width: 100%;
  height: 100%;
}
.component.panelSet.hidden {
  display: block!important;
  visibility: hidden;
}
.component.panelEx {
  width: 532.5px;
  height: 720px;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  position: absolute;
  z-index: 0;
}
.component.panelEx > .title {
  height: 90px;
  line-height: 90px;
  position: relative;
  padding-left: 30px;
  text-transform: uppercase;
  background-repeat: repeat-x;
}
.component.panelEx .list .item {
  height: 90px;
  line-height: 90px;
  font-size: 29.7px;
}
.component.panelEx .list .item .icon {
  font-size: 57.75px;
}
.component.panelEx.main {
  width: 720px;
  top: 105px;
  left: 600px;
  height: 840px;
  z-index: 2;
}
.component.panelEx.main .list .item {
  height: 105px;
  line-height: 105px;
  font-size: 33px;
}
.component.panelEx.main .list .item .icon {
  font-size: 41.25px;
}
.component.panelEx.main > .title {
  height: 105px;
  line-height: 105px;
  font-size: 36px;
}
.component.panelEx.main.size2 {
  width: 1170px;
}
.component.panelEx.main.size3 {
  width: 1170px;
}
.component.panelEx.left {
  top: 172.5px;
  left: 90px;
}
.component.panelEx.right {
  top: 172.5px;
  right: 90px;
}
.component.panelEx > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.component.panelEx .component.scrollBar {
  display: none;
}
.component.panelEx.active > .overlay {
  visibility: hidden;
}
.component.panelEx.active .component.scrollBar {
  display: block;
}
.component.panelEx.top {
  z-index: 3;
}
.component.panelEx > .shadow {
  width: 30px;
  position: absolute;
  top: 0;
  z-index: -1;
  display: none;
}
.component.panelEx > .shadow.left {
  left: -30px;
}
.component.panelEx > .shadow.right {
  right: -30px;
}
.component.panelEx.leftShadow > .shadow.left {
  display: block;
}
.component.panelEx.rightShadow > .shadow.right {
  display: block;
}
.component.panelEx.active > .shadow {
  z-index: 1;
}
.component.list.layoutList {
  position: relative;
}
.component.list.layoutList > .body > .item > .layout > .icon {
  width: 90px;
  font-family: 'icons';
  text-align: center;
}
.component.list.layoutList > .body > .item > .layout > .icon.yellow {
  color: #FEC500;
}
.component.list.layoutList > .body > .item > .layout > .icon.red {
  color: #FF0000;
}
.component.list.layoutList > .body > .item > .layout > .icon.green {
  color: #04E900;
}
.component.list.layoutList > .body > .item > .layout > .icon.blue {
  color: #1CACFF;
}
.component.list.layoutList > .body > .item > .layout > .number {
  width: 90px;
}
.component.list.layoutList .noData {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.component.list.layoutList .noData:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.component.list.layoutList .noData > div {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.component.list.layoutList .noData.hidden {
  visibility: hidden;
}
#pageInit {
  display: table;
}
#pageInit > .cell {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 150%;
}
#pageInit > .cell > .version {
  position: absolute;
  bottom: 45px;
  right: 60px;
  font-size: 50%;
  color: #555;
}
#pageInit > .cell > .version > .value {
  color: #fff;
}
#pageMain {
  height: 84px;
  width: 1800px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 84px;
}
#pageMain > div {
  display: inline-block;
  height: 84px;
  line-height: 84px;
}
#number {
  min-width: 66px;
  padding: 0 33px;
  max-width: 132px;
  text-align: left;
}
#icon {
  float: right;
  font-family: 'icons';
  color: yellow;
  width: 99px;
  text-align: right;
  font-size: 42.9px;
}
#time {
  float: right;
  width: 132px;
  padding-right: 30px;
  text-align: right;
}
html {
  overflow: auto;
}
div.develop canvas {
  cursor: none;
  visibility: hidden;
  position: absolute;
  width: 1920px;
  height: 1080px;
}
div.develop canvas.active {
  visibility: visible;
  z-index: 1000;
}
body.develop {
  outline: 1px dashed #005000;
  outline-offset: -1px;
}
body.develop .component {
  outline: 1px dashed #005000;
  outline-offset: -1px;
}
body.develop .component.focus {
  outline: 1px dashed red;
}
body.develop .component.wired {
  outline-width: 3px;
  outline-style: dotted;
}
body.develop .component.wired div,
body.develop .component.wired td {
  outline: 1px dashed grey;
  outline-offset: -1px;
}
body.develop .component.button {
  outline: none;
}
body.develop .component.button .text,
body.develop .component.button .icon {
  outline: 1px dashed #005000;
  outline-offset: -1px;
}
body.develop .component.button.focus .text,
body.develop .component.button.focus .icon {
  outline: 1px dashed red;
}
body.develop .component.list > .item {
  outline: 1px dashed #000000;
  outline-offset: -1px;
}
body.develop .component.list > .item.focus {
  outline: 1px dashed orange;
  outline-offset: -1px;
}
body.develop .component.grid td.item {
  outline: 1px dashed #000000;
  outline-offset: -1px;
}
body.develop .component.grid td.item.focus {
  outline: 1px dashed orange;
  outline-offset: -1px;
}
body.develop .component.input > .body {
  outline: 1px dashed #000;
}
body.develop .component.focus.input > .body {
  outline: 1px dashed red;
}
html,
body {
  height: 84px;
  width: 1800px;
  overflow: hidden;
}

/*# sourceMappingURL=develop.1080.css.map */
