{% extends 'layout.twig' %}
{% set active = 'application-catalog' %}
{% set title = ('Advertising'|trans ~ ': ' ~ 'Terms of Service.'|trans) | trans %}

{% block content %}
    <div id="iptv_list">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <br>
                <h1>
                    <span>AGREEMENT ON VIDEO ADVERTISING</span>
                </h1>
                <p>
                    <span>This Agreement on Video Advertising (hereinafter – the “Agreement”) is a contract between You (Publisher) and Company, which will govern the placement of Advertisement by You on Stalker Middleware Portal. By accepting this Agreement, You fully and expressly agree to abide by its terms. </span>
                </p>

                <br>

                <h2><span>1 Definitions</span></h2>

                <p>
                    <span><b>1.1</b></span> <span> Advertisement – materials or content provided by VertaMedia for publication on the Stalker Middleware Portal according to this Agreement.</span>
                </p>
                <p>
                    <span><b>1.2</b></span> <span> Collected Revenue – means the amount of revenue VertaMedia collects from advertisers for the placement of Advertisement.</span>
                </p>
                <p>
                    <span><b>1.3</b></span> <span> Company – the company Progressive Technologies, having its registered address at Ajman,&nbsp;Sheikh Rashid Bin Saeed Al Maktoum Street, Ajman Free Zone, Warehouse B1-40.</span>
                </p>
                <p>
                    <span><b>1.4</b></span> <span> Publisher (You) – a person who accepts this Agreement and provides the Stalker Middleware Portal for the placement of Advertisement. </span>
                </p>
                <p>
                    <span><b>1.5</b></span> <span> Stalker Middleware Portal – number of web pages, published on Publisher’s web servers, and provided for the placement of Advertisement. </span>
                </p>
                <p>
                    <span><b>1.6</b></span> <span> VertaMedia – a video platform and related services which matches advertisements in various formats and from various sources having its website on <a href="https://vertamedia.com/">https://vertamedia.com/</a>.</span>
                </p>

                <br>

                <h2><span>2 Subject matter </span></h2>

                <p>
                    <span><b>2.1</b></span> <span>Publisher agrees to place Advertisement on the Stalker Middleware Portal, and Company agrees to pay for the placement of Advertisement according to clause 2.2.</span>
                </p>
                <p>
                    <span><b>2.2</b></span> <span>You will receive 70(seventy)% of the monthly Collected Revenue for the placement of Advertisement on the Stalker Middleware Portal. The Collected Revenue is calculated according to the number of impressions of Advertisement placed on the Stalker Middleware Portal. The number of impressions of Advertisement is calculated according to the VertaMedia algorithms and policy.</span>
                </p>
                <p>
                    <span><b>2.3</b></span> <span>You can check the number of impressions calculated by VertaMedia which will constitute the basis of any payments for You under this Agreement in Your personal cabinet on ssp.infomir.eu or admin.ssp.infomir.eu which will be created by Company and log-in identifiers of which will be sent to Your email address. </span>
                </p>
                <p>
                    <span><b>2.4</b></span> <span>You will receive the payment for each calendar month within 60 (sixty) calendar days from the end of such month. You are responsible for notifying Company of your payment details.</span>
                </p>
                <p>
                    <span><b>2.5</b></span> <span>You shall be solely responsible for the log-in identifiers (IDs) and passwords allowing You to access Your account on the Stalker Middleware Portal and Your personal cabinet on ssp.progressivetechnology.ae or admin.ssp.progressivetechnology.ae after they have been created by You, or if created by Company – after the provision of IDs to You by Company. The IDs and passwords are personal for You and shall not be shared or transferred or disclosed in any manner to any third party. 	</span>
                </p>

                <br>

                <h2><span>3 Representations and Warranties</span></h2>

                <p>
                    <span><b>3.1</b></span> <span> Publisher represents that it has all the necessary authority and rights to be a party to this Agreement, use the Stalker Middleware Portal, place Advertisement on the Stalker Middleware Portal and receive payments under this Agreement. </span>
                </p>
                <p>
                    <span><b>3.2</b></span> <span> Publisher warrants that it will not employ any human or robotic tools intended to artificially increase impressions of the Advertisement or in any way circumvent software used by VertaMedia to calculate the amount of payments due to Publisher under this Agreement. </span>
                </p>

                <br>

                <h2><span>4 Limitation of Liability </span></h2>

                <p>
                    <span><b>4.1</b></span> <span> The cumulative liability of Company for all claims arising out of or relating to this Agreement, regardless of the form of action, shall not exceed the total fees actually paid by Company to Publisher under this Agreement.</span>
                </p>

                <br>

                <h2><span>5 Collection of Information</span></h2>

                <p>
                    <span><b>5.1</b></span> <span> Company may collect Publisher-related information which is reasonably deemed by Company necessary for the purpose of performing of its obligations under this Agreement and calculating payments due to Publisher under this Agreement.</span>
                </p>

                <br>

                <h2><span>6 Term and Termination </span></h2>

                <p>
                    <span><b>6.1</b></span> <span> This Agreement will continue in force until terminated by either Company or Publisher. </span>
                </p>
                <p>
                    <span><b>6.2</b></span> <span> Either party may terminate this Agreement at any time by the provision of 30 (thirty) days’ prior notice to the other party. </span>
                </p>
                <p>
                    <span><b>6.3</b></span> <span> In the event of Publisher’s breach of any provision contained herein, Company may terminate this Agreement by sending the notice of termination to Publisher, and such a termination which will be effective immediately after receipt of the notice of termination by Publisher.</span>
                </p>

                <br>

                <h2><span>7 General Terms </span></h2>

                <p>
                    <span><b>7.1</b></span> <span> This Agreement is executed by the parties in electronic form, which shall constitute a binding contract between the parties hereto. </span>
                </p>
                <p>
                    <span><b>7.2</b></span> <span> This Agreement may be amended by Company from time to time by provision of the notice of amendment of the Agreement to You. Any amendments to the Agreement will be effective as of the date indicated in the respective notice. </span>
                </p>
                <p>
                    <span><b>7.3</b></span> <span> This Agreement shall be construed according to the substantive law of the State of New York and of applicable federal law of the United States without giving effect to its conflicts of law principles. If any dispute arises under this Agreement, the venue for such dispute will be in the Courts of the State of New York, and Publisher hereby irrevocably submits to the exclusive jurisdiction of these courts.</span>
                </p>
                <p>
                    <span><b>7.4</b></span> <span> No party’s waiver of any breach or accommodation to the other party shall be deemed to be a waiver of any subsequent breach by a party.</span>
                </p>
                <p>
                    <span><b>7.5</b></span> <span> If any provision of this Agreement is found by a court of competent jurisdiction to be invalid or otherwise unenforceable, the invalid or unenforceable provision shall be deemed amended to remove such provision, and the remaining Agreement will be construed to give maximum effect to the intention of the parties at the time of execution of the Agreement.</span>
                </p>
                <p>
                    <span><b>7.6</b></span> <span> This Agreement may not be assigned or transferred by a party hereto without the prior written consent of the other party. Any assignment without such a consent will be null and void. </span>
                </p>
                <p>
                    <span><b>7.7</b></span> <span> Unless otherwise is agreed by the parties, any notice given under this Agreement shall be in English and shall be sent to the following email addresses of the parties:</span>
                </p>

                <br>
                <br>

                <p>
                    <span>To Company: <a href="mailto:stalker@infomir.eu">stalker@infomir.eu</a>;</span>
                </p>
                <p>
                    <span>To Publisher: to the Publisher’s email indicated during the registration on the Stalker Middleware Portal in the section “Advertisement”. </span>
                </p>
                <p>
                    <span>Any such notice shall be effective upon its receipt demonstrated by an electronic proof of delivery. </span>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12"><br/></div>
        </div>
    </div>
{% endblock %}