{% extends 'layout.twig' %}
{% set active = 'index' %}
{% set title = 'login' %}

{% block container %}
<style>
body {background-color: #fff;}
</style>
    <div class="container">
        <div id="" style="margin-top:210px;"
             class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class=" panel-info ">
                <div style="padding-top:30px" class="panel-body">
                    <center><img src="img/llogo.png"></center>
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <form action="./login" method="POST" class="form-signin" role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ 'Username'|trans }}" name="username"/>
                            <input type="password" class="form-control " placeholder="{{ 'Password'|trans }}" name="password"/>
                            <input type="submit" class="btn lobtn btn-lg btn-block" value="{{ 'Sign in'|trans }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
